@import url('https://fonts.googleapis.com/css?family=Montserrat');
body,html{
   margin:0px; padding:0px;
   transition: all 0.3s ease-in;
   transition-duration: 0.3s;
}
img{
    cursor: pointer;
}
textarea:focus, input:focus{
    outline: none;
}
::placeholder { 
    color: #eee;
    opacity: 0.7;
  }
body{
    background-image: url("./background.jpg");
    background-size: cover;
 }
.navbar {
    background-color: rgba(0, 0,0, 0.2);
    backdrop-filter: blur(40px);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 0px; 
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .navbar img{width: 25px; padding: 10px 10px 5px 10px; transition: all 0.3s ease-in;}
  .navbar img:hover{ transition: all 0.3s ease-in; opacity: 0.5;}

  #myDIV{
    width: 100%;
    overflow: hidden;
    position: fixed;
    align-self: center;
    bottom: -500px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 0;
    transition:all 0.3s ease-in;
    
    
}
#myDIV2{
    width: 100%;
    overflow: hidden;
    position: fixed;
    align-self: center;
    bottom: -720px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 0;
    transition:all 0.3s ease-in;
}
#myDIV3{
    overflow: hidden;
    position: fixed;
    display: block;
    z-index: 0;
    right: -400px;
    bottom: 50px;
    margin-top: 50px;
    transition:all 0.3s ease-in;   
}
#myDIV4{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    transition:all 0.3s ease-in;  
    
}
#myDIV4 img{
    height: 100%;
}
#myDIV5{
    width: 100%;
    overflow: hidden;
    position: fixed;
    align-self: center;
    bottom: 1100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 0;
    transition:all 0.3s ease-in;
}

#myDIV6{
    overflow: hidden;
    position: fixed;
    align-self: center;
    bottom: -100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    z-index: 0;
    width: 100%;
    
    transition:all 0.3s ease-in;
}
#myDIV6 .task{   margin: 0px auto;
    background-color: rgba(0, 0,0, 0.2);
    backdrop-filter: blur(40px);
    width: 80%;
    padding: 10px 20px; 
    border: 2px groove #111;
    border-radius: 8px;
text-align: left; 
font-family: sans-serif;
height: 20px;
}
#myDIV6 .task .form{float: left;}
#myDIV6 .task input{ background-color: transparent; border: 0px; font-size: 18px;color:#fff; width: 400px; }
#myDIV6 .task .recents{float:right;}
#myDIV6 .task .recents p{margin: 0px; padding: 3px 10px; color: #eee;float: right;}
#myDIV6 .task .recents img{ float:right; width: 25px; margin:0px 10px}
#myDIV img{border-radius: 10px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
     border-radius: 10px; 
    transition: all 0.3s ease-in;
    width: 700px;
    background-color: rgba(0, 0,0, 0.5);
    backdrop-filter: blur(40px);
}
#myDIV2 img{ width: 1100px; border-radius: 10px;background-color: rgba(0, 0,0, 0.5);
    backdrop-filter: blur(40px);
}
#myDIV5 img{ width: 90%; border-radius: 10px;background-color: rgba(0, 0,0, 0.5);
}

#myDIV3 img{ height: 1000px; border-radius: 20px;}
#txt{
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 18px;
    font-family: sans-serif;
    color: #fff; 
    float: right;margin-top: 15px;
}
.container{
    position: fixed;
}

.container p {
    font-size: 2.5rem;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    color:rgb(255, 255, 255);
    padding-left: 50px;
    
  }
  .container p span.typed-text {
    font-weight: normal;
    color: #00adef;
    font-weight: 600;
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
